<header class="header-container">
  <div class="logo">
    ANGULAR TODOAPP
  </div>
  <nav class="navbar">
    <div class="nav-item"><a href="#">Home</a></div>
    <div class="nav-item"><a href="#">About</a></div>
    <div class="nav-item"><a href="#">Contact</a></div>
    <div class="nav-item"><a href="#">Blog</a></div>
  </nav>
  <div class="user-options">
    <div class="option"><i class="fa fa-moon"></i></div>
    <div class="option"><i class="fa fa-user"></i></div>
    <div class="option"><i class="fa fa-gear"></i></div>
  </div>
</header>
